$electric_blue: #0a3f8f;

$live_blue: #124594;

$clasic__blue: #27569c;

$light_clasic-blue: #5074af;

$light_light-blue: #c2cff8;

$indigo_yellow: #e4b64d;

$dark_yellow: #daa427;

$indigo_grey: #646559;

$almost_white: #dce2f5;

$almost_black: #2c2c28;